/*--------Shared--------*/

body {
  overflow: hidden;
  font-family: 'Open Sans', sans-serif;
  background-color: #B0DEE5 !important;
}

@keyframes fade {
  0% {opacity:0}
  33.333% { opacity: 0}
  66.666% { opacity: 0}
  100% { opacity: 1}
}

@keyframes slideFromTop {
  0% {top: -15vh}
  100% { top: 0}
}

@keyframes slideFromBottom {
  0% {top: 100vh}
  100% { top: 93.5vh}
}

@keyframes ellipsis {
  to {
    width: 1.25em;    
  }
}
@-webkit-keyframes ellipsis {
  to {
    width: 1.25em;    
  }
}

hr {
  border-color: black !important;
}

/*--------Persistent--------*/

.topbar {
  position: absolute;
  background-color: #33758D;
  padding: 10px 0px;
  width: 100vw;
  top: 0;
  left: 0;
  box-shadow: 0px 2px 15px 0px #a3a3a3;
  animation: slideFromTop 1s;
  -webkit-animation: slideFromTop 1s;
}
.topbar>h1 {
  font-family: 'Bangers', sans-serif;
  font-size: 50px;
  text-align: center;
  color: #ffffff;
  font-weight: lighter;
  letter-spacing: 3px;
}

.bottombar {
  position: absolute;
  box-shadow: 0px 2px 15px 0px #a3a3a3;
  background-color: #33758D;
  padding: 17px 0px;
  width: 100vw;
  left: 0;
  top: 93.5vh;
  animation: slideFromBottom 1s;
  -webkit-animation: slideFromBottom 1s;
}
.bottombar>h4 {
  font-family: 'Bangers', sans-serif;
  text-align: center;
  color: #ffffff;
  font-weight: lighter;
  letter-spacing: 2px;
}

.ngview {
  position: relative;
  top: 125px;
}

/*--------View-Dependent--------*/

/*Start*/
.enterUsername {
  position: relative;
  top: 20vh;
}

.greeting, .greeting2 {
  text-align: center;
  font-size: 25px;
  /*animation: fade 2s;*/
  /*-webkit-animation: fade 2s;*/
}
.greeting2 {
  /*animation: fade 2.5s;*/
  /*-webkit-animation: fade 2.5s;*/
}
.enterUsername input {
  text-align: center;
  /*animation: fade 3s;*/
  /*-webkit-animation: fade 3s;*/
}
.enterUsername button {
  /*animation: fade 3.2s;*/
  /*-webkit-animation: fade 3.2s;*/
}

/*Waiting*/
.waitingView {
  position: relative;
  top: 20vh;
}

.waitingHeader {
  font-size: 25px;
  text-align: center;
}

.ellipses:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4,end) 2s infinite;      
  animation: ellipsis steps(4,end) 2s infinite;
  content: "\2026";
  width: 0px;
  font-size: 25px;
}

.userCount, .userCountLabel {
  position: relative;
  top: 10vh;
  text-align: center;
  font-family: 'Bangers', sans-serif;
  font-size: 200px;
}
.userCountLabel {
  font-size: 50px;
}

/*Main Game*/
.mainView {
  top: 30vh;
}
.mainView>h3:first-child {
  text-align: center;
}
.mainView>h3:nth-child(2) {
  font-family: 'Bangers', sans-serif;
  text-align: center;
  font-size: 50px;
}

.mainView input {
  text-align: center;
  width: 100%;
}

.answerIn {
  text-align: center;
  font-size: 30px;
}
.answerIn>i:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4,end) 2s infinite;      
  animation: ellipsis steps(4,end) 2s infinite;
  content: "\2026";
  width: 0px;
  font-size: 25px;
}

/*Result*/
answer {
  text-align: center;
}
.answer:hover {
  background-color: #95CBD3;
}

.resultsView h3:first-child {
  font-family: 'Bangers', sans-serif;
  text-align: center;
  font-size: 50px;
}
.sub {
  font-family: 'Bangers', sans-serif;
  text-align: center;
  font-size: 30px;
}